.input {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 4px;
    display: block;
    border: 1px solid gray;
    height: 28px;
    outline: 0;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    margin-top: 42px;
    height: 502px;
    width: 395px;
    border-radius: 20px;
    background-color: #FAFAFA;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
